.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body
{
  background-color: #424443;
}
.box
{
  background-color: #FBFCFD;
  height: 550px;
  border-radius: 20px;
  overflow: auto;
}
.box2
{
  background-color: #424443;
  border-radius: 20px;
}
.head
{
  font-family: Segoe Script;
  color: white;
}
.search-bar
{
  display: flex;
  align-items: center;
}
.inp
{
  width: 50%;
  text-align: center;
  border: none;
  border-bottom: 2px solid #424443;
  outline: none;
  background: transparent;
  align-items: center;
}
.but
{
  margin-left: 15px;
  height: 27px;
  border: none;
  background-color:#424443;
  border-radius: 20px;
  color: white;
}
.but:hover
{
  background-color: #68DC77;
}
.dlt-but
{
  margin-left: 10px;
  height: 27px;
  border: none;
  background-color:#424443;
  border-radius: 20px;
  color: white;
}
.dlt-but:hover
{
  background-color: rgb(255, 32, 32);
}
.data
{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.li-but
{
  border: none;
  background-color:#424443;
  border-radius: 20px;
  color: white;
}
.li-but:hover
{
  background-color: rgb(255, 32, 32);
}